﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="ReporteORV.aspx.cs" Inherits="CrystalReportViewer.WebForm3" %>

<%@ Register assembly="CrystalDecisions.Web, Version=13.0.3500.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" namespace="CrystalDecisions.Web" tagprefix="CR" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <CR:CrystalReportViewer ID="CrystalReportViewer1" runat="server" AutoDataBind="True" GroupTreeImagesFolderUrl="" Height="1202px"  ToolbarImagesFolderUrl="" ToolPanelWidth="200px" Width="1104px" ToggleSidePanel="None"  />
           <%-- <CR:CrystalReportSource ID="CrystalReportSource2" runat="server">
                <Report FileName="C:\xampp\htdocs\bancoeypo\ReporteNomina\ReporteNomina.rpt">
                </Report>
            </CR:CrystalReportSource>--%>
        </div>
    </form>
</body>
</html>
